#allScores {
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: space-around;
    gap: 32px;

    table {
        background-color: white;
        border-radius: 16px;
        display: table;
        text-align: left;
        border-collapse: collapse;
        box-shadow: 0 0 5px 0 black;

        th, td {
            padding: 0 24px;
            text-align: left;
        }

        th:is(:first-child) {
            border-right: 1px solid black;
            text-align: center;
        }

        td[colspan] {
            text-align: center;
        }

        tr:not(:last-child), thead tr {
            border-bottom: 1px solid black;
        }
    }
}